---
const year = new Date().getFullYear();
---
<footer id="siteFooter" class="site-footer">
  <span>© {year} <a href="https://github.com/David7ce/interneto.github.io" target="_blank" rel="noopener">Interneto</a></span>
</footer>
