---
import VPLayout from './VPLayout.astro';
import PageHeader from '../components/PageHeader.astro';

interface Props {
  title: string;
  heading: string;
  extraStyles?: string[];
}

const { title, heading, extraStyles = [] } = Astro.props;
---
<VPLayout title={title} hasSidebar={false} extraStyles={['styles/generator.css', ...extraStyles]}>
  <div class="page-wrapper">
    <PageHeader heading={heading} />
    <slot />
  </div>
</VPLayout>
